body {
    margin: 0px;
    padding: 0px;
    background:#002a3e;
}

.header {
    display: flex;
    justify-content: space-between;
    background: rgba(102, 170, 215, 0.20);
    padding: 2px;
    align-items: center;
}

.corpo {
    display: flex;
    flex-wrap: wrap;
    font-weight: normal;
    color:#333;
    max-width: 90%;
    margin: 0 auto;   
}

h1, h2{
    font-family: 'Segoe UI semibold';
    color: #fff;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15pt;
}

h3 {
    font-family: 'Segoe UI light';
    color: #fff;
    text-align: left;
    padding-left: 5px;
    padding-top: 20px;
    font-size: 30pt;
}

/**** section 1 ****/
.box {
    font-family: 'Segoe UI light';
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px auto;
    grid-gap: 30px;
    height: 180px;
    width: 30%;
    border-radius: 15px;
    background: rgba(102, 170, 215, 0.20);
}   

.box > .boxText {
    font-family: 'Segoe UI light';
    font-size: 20pt;
    color: #fff;
    margin: 0px auto;
    text-align: center;
}

.box > .boxText2 {
    font-family: 'Segoe UI light';
    font-size: 58pt;
    color: #fff;
    margin: 0px auto;
    text-align: center;
}

.unidade {
    font-family: 'Segoe UI light';
    font-size: 40pt;
    color: #fff;
}

/**** section 2 ****/
.botoes {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    grid-gap: 20px;
}

.fine {
    font-family: 'Segoe UI light';
    position: relative;
    display: flex;
    margin: 0px auto;
    width: 600px;
    border-radius: 15px;
    background: rgba(102, 170, 215, 0.20);
}  

.fine > .texto {
    font-family: 'Segoe UI light';
    font-size: 20pt;
    color: #fff;
    margin: auto 20px;
    padding: 10px;
}

.fine > .control {
    align-items: center;
    position: absolute;
    right: 0px;
    font-family: 'Segoe UI light';
    width: 300px;
    border-radius: 15px;
    margin: auto 0px;
    background: rgba(102, 170, 215, 0.20);
} 

input[type="checkbox"] {
    position: absolute;
    right: 10px;
    width: 80px;
    height: 40px;
    margin: 10px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    transition: .3s;
}

input:checked[type="checkbox"] {
    background: #03a9f4;
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .1s;
}

input:checked[type="checkbox"]:before {
    left: 40px; 
}



@media only screen and (max-device-width: 400px) {
    h1, h2{
        font-family: 'Segoe UI semibold';
        color: #fff;
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 15pt;
    }
    
    h3 {
        font-family: 'Segoe UI light';
        color: #fff;
        text-align: left;
        padding-left: 5px;
        padding-top: 20px;
        font-size: 30pt;
    }
    
    /**** section 1 ****/
    .box {
        padding-top: 10px;
        font-family: 'Segoe UI light';
        display: grid;
        grid-template-columns: 1fr;
        margin: 30px auto;
        grid-gap: 20px;
        height: 80px;
        width: 30%;
        border-radius: 15px;
        background: rgba(102, 170, 215, 0.20);
    }   
    
    .box > .boxText {
        font-family: 'Segoe UI light';
        font-size: 8pt;
        color: #fff;
        margin: 0px auto;
        text-align: center;
    }
    
    .box > .boxText2 {
        font-family: 'Segoe UI light';
        font-size: 20pt;
        color: #fff;
        margin: 0px auto;
        text-align: center;
    }
    
    .unidade {
        font-family: 'Segoe UI light';
        font-size: 10pt;
        color: #fff;
    }
    
    /**** section 2 ****/
    .botoes {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        grid-gap: 20px;
    }
    
    .fine {
        font-family: 'Segoe UI light';
        position: relative;
        display: flex;
        height: 60px;
        margin: 0px auto;
        width: 100%;
        border-radius: 15px;
        background: rgba(102, 170, 215, 0.20);
    }  
    
    .fine > .texto {
        font-family: 'Segoe UI light';
        font-size: 15pt;
        color: #fff;
        margin: auto 20px;
        padding: 10px;
    }
    
    .fine > .control {
        align-items: center;
        position: absolute;
        right: 0px;
        font-family: 'Segoe UI light';
        width: 300px;
        border-radius: 15px;
        margin: auto 0px;
        background: rgba(102, 170, 215, 0.20);
    } 
    
    input[type="checkbox"] {
        position: absolute;
        right: 10px;
        width: 80px;
        height: 40px;
        margin: 10px;
        -webkit-appearance: none;
        background: #c6c6c6;
        outline: none;
        border-radius: 20px;
        box-shadow: inset 0 0 5px rgba(0,0,0,.2);
        transition: .3s;
    }
    
    input:checked[type="checkbox"] {
        background: #03a9f4;
    }
    
    input[type="checkbox"]:before {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        top: 0;
        left: 0;
        background: #fff;
        transform: scale(1.1);
        box-shadow: 0 2px 5px rgba(0,0,0,.2);
        transition: .1s;
    }
    
    input:checked[type="checkbox"]:before {
        left: 40px; 
    }
}

